<!DOCTYPE html>
<html>
    <head>
        <title>New Order</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
<body>
<div class="content-container">
        <h1>Place New Order</h1>

    <form method="POST">

        <label for="supermarket">Supermarket:</label>
        <select name="supermarket_id" id="supermarket">
            {% for supermarket in supermarkets %}
            <option value="{{ supermarket[0] }}">{{ supermarket[1] }}</option>
            {% endfor %}
        </select>

<!--         <label for="order_date">Order Date:</label>
        <input type="date" name="order_date" id="order_date" required>  -->

        <label for="items">Items:</label>
        <textarea name="items" id="items" required></textarea> 

        <label for="delivery_date">Delivery Date:</label>
        <input type="date" name
="delivery_date" id="delivery_date" required> 

        <button type="submit">Submit Order</button>
    </form>
</div>

<script>
    fetch('/api/supermarkets') // Update the fetch endpoint if needed
        .then(response => response.json())
        .then(supermarkets => {
            const selectElement = document.getElementById('supermarket');

            supermarkets.forEach(supermarket => {
                const option = document.createElement('option');
                option.value = supermarket.id; 
                option.text = supermarket.name;
                selectElement.appendChild(option);
            });
        })
        .catch(error => console.error('Error fetching supermarkets:', error));
  </script>
</body>
</html>
